MIDIspeechsynth/.DS_Store
.DS_Store
tactilesynths/elements/toeps.sh
tactilesynths/elements/svg/toeps.sh
hapticDriver/foo/spicetest/.history/
hapticDriver/hapticDriver/.history/
MIDItoSpeech/devices/SEM4-param-list-before-sequencer-rename.json
MIDItoSpeech/devices/SEM4-param-list-additions.json
MIDItoSpeech/devices/SEM4-old.json
